.container-nav {
  background-color: #f8f9fa;
  padding: 15px 20px;
  border-radius: 3px 3px 0px 0px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.container-nav nav {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  font-size: 12px;
}

.container-nav nav a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.container-nav nav a:hover {
  color: #0056b3;
  /* text-decoration: underline; */
}

/* Estilo opcional para as barras "" */
/* .container-nav nav a + a::before {
  content: "";
  color: #999;
} */

.uri-is-active{
  padding: 2px;
  border-radius: 3px;
  background-color:aquamarine;
  padding-left: 6px;
  padding-right: 6px;
}

.uri-is-no-active{
  padding: auto;
}